body {
  font-family: "Helvetica", sans-serif;
}

.wrapper {
  width: 100%;
  padding-bottom: 15px;
}

div.images {
    height: 500px;
    width: 80%;
}

div#main-image1 {
  background-image: url(images/trump-joggers.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

div#main-image2 {
  background-image: url(images/statue-romper.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
div#main-image3 {
  background-image: url(images/kim-romper.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.main-content {
  width: 80%;
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
}
nav{
  background-color: darkblue;
  width: 100%;
  padding: 5px;
  color: white;
}

nav ul{
  list-style: none;
}

nav li{
  padding: 10px;
  font-size: 16px;
  float: left;
}

nav li a{
  text-decoration: none;
  color: white;
}

nav li a:visited{
  color: white;
}

.title{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2.5px;
}

.first-nav {
  margin-right: 20%;
}

.last-nav {
  margin-left: 15%;
}

.nav-wrapper {
  width: 600px;
  margin: 0 auto;
}

.clearfix{
  clear: both;
}

span.emphasis{
  font-weight: bold;
  text-transform: uppercase;
}

@media all and (max-width: 760px) and (min-width: 500px) {
  .main-content {
    font-size: 20px;
  }
}

@media all and (max-width: 499px) {
  .main-content {
    font-size: 17px;
  }
}
