body {
  font-family: "Helvetica", sans-serif;
}

.wrapper {
  width: 100%;
  padding-bottom: 15px;
}

div.images {
    height: 500px;
    width: 80%;
}

div#main-image1 {
  background-image: url(images/trump-joggers.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

div#main-image2 {
  background-image: url(images/statue-romper.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
div#main-image3 {
  background-image: url(images/kim-romper.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.main-content {
  width: 80%;
  font-size: 25px;
  margin: 0 auto;
}

nav{
  background-color: darkblue;
  width: 100%;
  color: white;
}

nav ul{
  list-style: none;
  padding: 10px 0px;
}

nav li{
  display: inline-block;
  padding: 10px;
  font-size: 16px;
}

nav li a{
  text-decoration: none;
  color: white;
}

nav li a:visited{
  color: white;
}

li#title{
  padding: 10px 470px 10px 10px;
  font-style: italic;
  font-weight: bold;
}
