body {
  font-family: "Helvetica", sans-serif;
}
.wrapper {
  width: 900px;
  margin: 0 auto;
  padding-bottom: 15px;
  font-size: 25px;
  font-family: "Helvetica", sans-serif;
}

.main-image {
  width: 900px;
  height: auto;
  margin-bottom: 15px;
}

.main-image img {
  width: 100%;
}

.main-content {
  font-size: 25px;
}

nav{
  background-color: darkblue;
  width: 100%;
  padding: 5px;
  color: white;
}

nav ul{
  list-style: none;
}

nav li{
  padding: 10px;
  font-size: 16px;
    float: left;
}

nav li a{
  text-decoration: none;
  color: white;
}

nav li a:visited{
  color: white;
}

.title{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2.5px;
}

.first-nav {
  margin-right: 20%;
}

.last-nav {
  margin-left: 15%;
}

.nav-wrapper {
  width: 600px;
  margin: 0 auto;
}

.clearfix{
  clear: both;
}

h1 {
  text-align: center;
}
