body {
  font-family: "Helvetica", sans-serif;
}
.wrapper {
  width: 900px;
  margin: 0 auto;
  padding-bottom: 15px;
  font-size: 25px;
  font-family: "Helvetica", sans-serif;
}

.main-image {
  width: 900px;
  height: auto;
  margin-bottom: 15px;

}

.main-image img {
  width: 100%;
}

.main-content {
  font-size: 25px;
}

nav{
  background-color: darkblue;
  width: 100%;
  color: white;
}

nav ul{
  list-style: none;
  padding: 10px 0px;
}

nav li{
  display: inline-block;
  padding: 10px;
  font-size: 16px;
}

nav li a{
  text-decoration: none;
  color: white;
}

nav li a:visited{
  color: white;
}

li#title{
  padding: 10px 470px 10px 10px;
  font-style: italic;
  font-weight: bold;
}
